* {
  margin: 0px;
  padding: 0px;

}

@font-face {
	font-family: 'Futura1';
	src:url('../assets/font/Futura-Bold-03.ttf');
}
@font-face {
	font-family: 'Futura2';
	src:url('../assets/font/Futura-Medium-01.ttf');
}

body{
	/*background-color: #030412;*/
/*  background-image : url(../assets/image/top.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
  padding: 0;
	margin: 0;
	width: 100%;
  max-width: 100%;
	height: 100vh;
  overflow-x: hidden;
}
header{
  transform: none;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  z-index:2;
  /*background-color: #030412;*/

}

main {
	font-family: 'Futura1','Futura2','arial black','arial','sans-serif','Impact';
	/*text-orientation: upright;  すべて縦方向に表示 
	writing-mode: vertical-rl;*/
	/*background-color: #030412;*/
  margin: 0;

}

/*.pace-running .wrapper {
    display: none;
}*/


