* {
  margin: 0px;
  padding: 0px;

}

.pace-running .wrapper {
    display: none;
}
.pace-running{
    background-image: url(../assets/image/mv.jpg);
    background-repeat:  no-repeat;                         /* 画像の繰り返しを指定  */              
    background-position:center center;                     /* 画像の表示位置を指定  */
    background-size:contain;                               /* 画像のサイズを指定    */
    width:100%;                                            /* 横幅のサイズを指定    */
    height:auto;
}

/*@font-face {
	font-family: 'Futura1';
	src:url('../assets/font/Futura-Bold-03.ttf');
}
@font-face {
	font-family: 'Futura2'; 
	src:url('../assets/font/Futura-Medium-01.ttf');
}*/

body{
  padding: 0;
	margin: 0;
	width: 100%;
  max-width: 100%;
	height: 100vh;
  overflow-x: hidden;
}
header{
  transform: none;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
  z-index:2;
}
.dataImg{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.dataCompImg{
  width: 80%;
  max-width: 600px;
  height: auto;
  max-height: 100vh;
  margin: auto;
  opacity: 0;
}
main {
	font-family: 'Futura1','Futura2','arial black','arial','sans-serif','Impact';
  margin: 0;

}
